[user]
	name         = {{ git_name }}
	email        = {{ git_email }}
	username     = {{ git_username }}
	signingkey   = {{ git_sign_key }}
[core]
	editor 	     = vim
	whitespace   = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[web]
	browser      = firefox
[color]
	ui 	    		 = auto
[color "branch"]
	current      = yellow bold
	local        = green bold
	remote       = cyan bold
[color "diff"]
	meta         = yellow bold
	frag         = magenta bold
	old          = red bold
	new          = green bold
	whitespace   = red reverse
[color "status"]
	added        = green bold
	changed      = yellow bold
	untracked    = red bold
[diff]
	tool 	     	 = vimdiff
	colorMoved 	 = zebra
[sequence]
	editor 	     = interactive-rebase-tool
[alias]
	lg 	     		 = log  --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
  rebase			 = true
[fetch]
	prune				 = true
[push]
	gpgSign = if-asked
#[includeIf "gitdir:~/Work/"]
#	path = ~/Work/.gitconfig
